<meta name="description" content="{% if page.description %}{{ page.description | flatify }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ site.keywords }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {{site.title}}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description | flatify }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
<meta property="og:image" content="{% if page.image %}{{ page.image | flatify }}{% else %}{{ site.image }}{% endif %}">
<meta property="og:image:type" content="image/jpeg">
<meta property="fb:app_id" content="{{ fb_app_id}}">
<meta property="og:locale" content="en">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{site.title}}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description | flatify }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:image" content="{% if page.image %}{{ page.image | flatify }}{% else %}{{ site.image }}{% endif %}">