<div class="fl w-100 gradient-turquoise pv5">
  <a href="/cases/redesign" class="link db pv4">
    <div class="w-80 w-60-ns center bg-white pv5 ph3 cf shadow-1">
      <div class="fl w-100 w-50-ns pl5 pv3">
        <span class="db fw6 ttu silver gotham-extralight">Case</span>
        <h5 class="f6 f4-ns fw1 sentinel-light-italic">Do you know how environmental researchers find inspiration?</h5>
        <p class="f7 f5-ns sentinel-light-italic">After doing user research and wireframe prototyping for a Swedish construction equipment manufacturer, I do</p>
        <span class="db f7 ttu orange pv3 gotham-extralight">Read more</span>
      </div>
      <div class="fl w-100 w-50-ns">
        <img src="/assets/images/case/redesign.png">
      </div>
    </div>
  </a>
</div>