<div class="fl w-100 pv5">
  <div class="w-80 w-30-ns center pv4 pv5-ns tc">
    <a href="https://www.linkedin.com/pulse/what-ux-definition-eludes-us-per-axbom/" class="link bb-custom bb-custom-before bb-custom-after bb-custom-orange-after bb-custom-orange-before">
      <p class="f3 lh-copy pv3 sentinel-light-italic">UX is the intent to understand people's behavior, emotions and struggles with the purpose of enabling organizations to make better products and services for those people</p>
      <h2 class="f7 ttu silver gotham-bold">PER AXBOM - WHAT IS UX?</h2>
    </a>
  </div>
</div>