<footer class="fl w-100 gradient-turquoise pv5 gotham-bold tracked">
  <ul class="w-90 w-40-ns center flex flex-wrap list pv0 pv5-ns">
    <li class="w-100 w-50-ns pv3 pv0-ns">
      <span class="db light-gray ttu f6 pv2">Contact</span>
      <a href="tel:{{ site.phone }}" class="db pv2 white f5 fw6 link">{{ site.phone_formatted }}</a>
      <a href="mailto:{{ site.email }}" class="db pv2 white f5 fw6 link ttu">{{ site.email }}</a>
    </li>
    <li class="w-100 w-50-ns pv3 pv0-ns">
      <span class="db light-gray ttu f6 pv2">Links</span>
      <a href="https://twitter.com/{{ site.twitter }}" class="db pv2 white f5 fw6 link ttu">Twitter</a>
      <a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="db pv2 white f5 fw6 link ttu">Linkedin</a>
    </li>
  </ul>
</footer>