<footer class="fl w-100 gradient-turquoise pv5">
  <ul class="w-90 w-40-ns center flex flex-wrap list pv0 pv5-ns">
    <li class="w-100 w-50-ns pv3 pv0-ns">
      <span class="db light-gray ttu f6 pv2">Contact</span>
      <a href="tel:0046702253880" class="db pv2 white f5 fw6 link">+46 70-225 38 80</a>
      <a href="mailto:alex@afekenst.am" class="db pv2 white f5 fw6 link ttu">alex@afekenst.am</a>
    </li>
    <li class="w-100 w-50-ns pv3 pv0-ns">
      <span class="db light-gray ttu f6 pv2">Links</span>
      <a href="https://twitter.com/alexafekenstam" class="db pv2 white f5 fw6 link ttu">Twitter</a>
      <a href="https://www.linkedin.com/in/alexanderafekenstam/" class="db pv2 white f5 fw6 link ttu">Linkedin</a>
    </li>
  </ul>
</footer>