<header class="db-s db-m dn-ns burger pb4">
  <a href="/" class="">
    Alexander af Ekenstam
  </a>
  <input id="burger" type="checkbox">
  <label for="burger">
    <span class="bg-brand"></span>
    <span class="bg-brand"></span>
    <span class="bg-brand"></span>
  </label>
  <nav class="bb b--light-gray">
    <ul class="list pa0 tc absolute">
      <li class="pv3 bb b--near-white">
        <a href="/" title="About" class="link brand dim f5 fw6">About</a>
      </li>
      <li class="pv3 bb b--near-white">
        <a href="/case-website" title="Case" class="link brand dim f5 fw6">Case</a>
      </li>
      <li class="pv3 bb b--near-white">
        <a href="/now" title="Now" class="link brand dim f5 fw6">Now</a>
      </li>
    </ul>
  </nav>
</header>
<header class="dn db-l">
  <nav class="w-100 z-999 bg-white scroll fixed pv3 ph4">
    <div class="fl w-20 pv2">
      <a href="/" class="dib ttu link">Alexander af Ekenstam</a>
    </div>
    <ul class="fl w-80 pv2 list lh-copy tr ma0">
      <li class="dib ph3">
        <a href="/about" title="About" class="f6 fw5 ttu hover-orange link">About</a>
      </li>
      <li class="dib ph3">
        <a href="/case-website" title="Case" class="f6 fw5 ttu hover-orange link">Case</a>
      </li>
      <li class="dib ph3">
        <a href="/now" title="Now" class="f6 fw5 ttu hover-orange link">Now</a>
      </li>
    </ul>
  </nav>
</header>