<header class="db dn-ns burger pb4">
  <a href="/">
    <img src="/assets/images/alexander-af-ekenstam.svg" alt="Logo">
  </a>
  <input id="burger" type="checkbox">
  <label for="burger">
    <span class="bg-black"></span>
    <span class="bg-black"></span>
    <span class="bg-black"></span>
  </label>
  <nav>
    <ul class="list pa0 tc absolute">
      <li class="pv3" {% if page.url == '/' %} id="active" {% endif %}>
        <a href="/" title="About" class="link i f3 fw3">About</a>
      </li>
      <li class="pv3" {% if page.url contains '/case' %} id="active" {% endif %}>
        <a href="/cases/redesign" title="Case" class="link i f3 fw3">Case</a>
      </li>
      <li class="pv3" {% if page.url == '/now' %} id="active" {% endif %}>
        <a href="/now" title="Now" class="link i f3 fw3">Now</a>
      </li>
    </ul>
  </nav>
</header>
<header class="dn db-l">
  <nav class="w-100 z-999 bg-white scroll fixed pv3 ph4">
    <div class="fl w-20 pv2">
      <a href="/" class="dib ttu link"><img src="/assets/images/alexander-af-ekenstam.svg" alt="Logo"></a>
    </div>
    <ul class="fl w-80 pv2 list lh-copy tr ma0">
      <li class="dib ph3" {% if page.url == '/' %} id="active" {% endif %}>
        <a href="/" title="About" class="gotham-extralight f7 fw1 tracked ttu hover-orange link">About</a>
      </li>
      <li class="dib ph3" {% if page.url contains '/case' %} id="active" {% endif %}>
        <a href="/cases/redesign" title="Case" class="gotham-extralight f7 fw1 tracked ttu hover-orange link">Case</a>
      </li>
      <li class="dib ph3" {% if page.url == '/now' %} id="active" {% endif %}>
        <a href="/now" title="Now" class="gotham-extralight f7 fw1 tracked ttu hover-orange link">Now</a>
      </li>
    </ul>
  </nav>
</header>