<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <link href="https://afekenst.am" rel="canonical">
  <link href="https://afekenst.am/favicon.ico" rel="shortcut icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/styles/main.css" rel="stylesheet">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  {% include meta/meta.html %}
</head>