@font-face {
  font-family: gotham;
  src: url("gotham/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: gotham-italic;
  src: url("gotham/Gotham-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: gotham-bold;
  src: url("gotham/Gotham-Bold.otf") format("opentype");
}

.i {
  font-family: 'gotham-italic', sans-serif;
}
.gotham {
  font-family: 'gotham', sans-serif;
}
.fw6 {
  font-family: 'gotham-bold', sans-serif;
}
button, input, optgroup, select, textarea {
	font-family: 'gotham', sans-serif;
}