@font-face {
  font-family: "gotham-bold";
  src: url("fonts/gotham-bold.woff") format('woff');
}

@font-face {
  font-family: "gotham-light";
  src: url("fonts/gotham-light.woff") format('woff');
}

@font-face {
  font-family: "gotham-extralight";
  src: url("fonts/gotham-extralight.woff") format('woff');
}

@font-face {
  font-family: "sentinel-light";
  src: url("fonts/sentinel-light.woff") format('woff');
}

@font-face {
  font-family: "sentinel-light-italic";
  src: url("fonts/sentinel-light-italic.woff") format('woff');
}

.gotham-bold {
  font-family: 'gotham-bold', sans-serif;
}

.gotham-light {
  font-family: 'gotham-light', sans-serif;
}

.gotham-extralight {
  font-family: 'gotham-extralight', sans-serif;
}

.sentinel-light {
  font-family: 'sentinel-light', sans-serif;
}

.sentinel-light-italic {
  font-family: 'sentinel-light-italic', sans-serif;
}

button, input, optgroup, select, textarea {
	font-family: 'gotham-bold', sans-serif;
}