---
layout: default
title:  {{page.title}}
---
<section class="fl w-100 pv3 pv6-ns">
  <div class="w-80 center tc ph2 ph5-ns pt5 pb6">
    <img src="{{ page.image }}" alt="{{ page.title }}" class="h5">
    <h1 class="f5 f3-ns ttu gotham-bold tracked">{{ page.title }}</h1>
    <h2 class="i dark-gray fw1 f5 sentinel-light-italic">{{ page.subtitle }}</h2>
    <span class="db dark-gray fw1 f5 sentinel-light-italic">{{ page.date }}</span>
    <div class="flex flex-wrap">
      <div class="w-100 w-25-ns">
        <img src="/assets/images/icons/excavator.svg" class="h4 pb3">
        <span class="db fw6 f7 ttu pv2 gotham-bold tracked">Client</span>
        <p class="f6 f5-ns sentinel-light-italic">{{ page.client }}</p>
      </div>
      <div class="w-100 w-25-ns">
        <img src="/assets/images/icons/team.svg" class="h4 pb3">
        <span class="db fw6 f7 ttu pv2 gotham-bold tracked">Team</span>
        <p class="f6 f5-ns sentinel-light-italic">{{ page.team }}</p>
      </div>
      <div class="w-100 w-25-ns">
        <img src="/assets/images/icons/goal.svg" class="h4 pb3">
        <span class="db fw6 f7 ttu pv2 gotham-bold tracked">Objective</span>
        <p class="f6 f5-ns sentinel-light-italic">{{ page.objective }}</p>
      </div>
      <div class="w-100 w-25-ns">
        <img src="/assets/images/icons/cog.svg" class="h4 pb3">
        <span class="db fw6 f7 ttu pv2 gotham-bold tracked">Role</span>
        <p class="f6 f5-ns sentinel-light-italic">{{ page.role }}</p>
      </div>
    </div>
  </div>
  <div class="fl w-100 gradient-turquoise pv5 pv6-ns">
    <span class="db f5 fw6 ttu white tc gotham-bold tracked">About</span>
  </div>
  <div class="fl w-100 pv6">
    <div class="w-70 w-30-ns center">
      <p class="f5 f4-ns lh-copy sentinel-light">{{ page.description }}</p>
      <div class="pv3">
        <h6 class="f6 fw6 silver ttu pb2 ma0 gotham-bold tracked">Research</h6>
        <p class="f5 f4-ns lh-copy ma0 sentinel-light">{{ page.research }}</p>
      </div>
      <div class="pv3">
        <h6 class="f6 fw6 silver ttu pb2 ma0 gotham-bold tracked">Media</h6>
        <p class="f5 f4-ns lh-copy ma0 sentinel-light">{{ page.media }}</p>
      </div>
      <div class="pv3">
        <h6 class="f6 fw6 silver ttu pb2 ma0 gotham-bold tracked">Industry</h6>
        <p class="f5 f4-ns lh-copy ma0 sentinel-light">{{ page.industry }}</p>
      </div>
    </div>
  </div>
  <div class="fl w-100 gradient-turquoise pv5 pv6-ns">
    <span class="db f5 fw6 ttu white tc gotham-bold tracked">Process</span>
  </div>
  <div class="fl w-100 pv6 ph3 ph7-ns">
    <div class="fr w-80 w-50-ns">
      <ul class="list pa0 ma0">
        <li class="timeline-item f7 fw6 gotham-bold tracked" headline="SCOPE">
          <p class="f6 f4-ns fw3 lh-copy ma0 w-60-l pt3 pt0-ns sentinel-light">{{ page.scope }}</p>
        </li>
        <li class="timeline-item f7 fw6 gotham-bold tracked" headline="REVIEW & RESEARCH">
          <p class="f6 f4-ns fw3 lh-copy ma0 w-60-l pt3 pt0-ns sentinel-light">{{ page.review_research }}</p>
        </li>
        <li class="timeline-item f7 fw6 gotham-bold tracked" headline="USER RESEARCH">
          <p class="f6 f4-ns fw3 lh-copy ma0 w-60-l pt3 pt0-ns sentinel-light">{{ page.user_research }}</p>
        </li>
        <li class="timeline-item f7 fw6 gotham-bold tracked" headline="IMPACT MAP">
          <p class="f6 f4-ns fw3 lh-copy ma0 w-60-l pt3 pt0-ns sentinel-light">{{ page.impact_map }}</p>
        </li>
        <li class="timeline-item f7 fw6 gotham-bold tracked" headline="MAPREVIEW">
          <p class="f6 f4-ns fw3 lh-copy ma0 w-60-l pt3 pt0-ns sentinel-light">{{ page.review }}</p>
        </li>
        <li class="timeline-item f7 fw6 gotham-bold tracked" headline="WIREFRAMES">
          <p class="f6 f4-ns fw3 lh-copy ma0 w-60-l pt3 pt0-ns sentinel-light">{{ page.wireframes }}</p>
        </li>
      </ul>
      <p class="lh-copy f5 sentinel-light">{{ page.partner }}</p>
    </div>
  </div>
</section>